#Skills{
    background-color:rgb(191, 228, 240);
}
/* .skillimg{
    filter: grayscale(75%);
}
.skillimg:hover{
    filter: none;
    transform: scale(1.1);
} */
.icon {
    border-radius: 10%;
    background: transparent;
    border: none;
    margin: 0 auto;
    width: 75px !important;
    height: 75px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
  }
   .icon:hover {
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
  }

