/* Add this to your CSS file */
.nav-link{
    color: white;
}
.nav-item:hover {
    background-color: #e0e0e01a; /* Change the background color on hover */
    color: blue;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 