.img{
    display: inline-flex;
    height: 500px;
    width: 33%;
    margin: 50px;
}
.mypic{
    border: 2px solid black;
    border-radius: 5%;
}
.text{
    display:block;
    padding: 10px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}
section{
    background-color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}